# ignore config.ini file
Backend/config.ini

# ignore gmail creds files
Backend/gmail_creds.json
Backend/gmail_token.json

# ignore web config
Backend/web.config

# ignore testing folder files
Backend/Invoices/completed/*.pdf
Backend/Invoices/issue/*.pdf
Backend/User_Upload/Image/*.png
Backend/User_Upload/Pdf/*.pdf

# ignore all files from ML folder execpt .py and .pickle
ML/ML - InvoicesPDF/
ML/Dataset/
ML/Image/
ML/Image/
ML/Train_txt/

# ignore npm build and node modules
FRONTEND/build/
FRONTEND/node_modules/
*.pyc
Backend/app.log
*.pyc
Backend/modules/classify_document/__pycache__/FindDocumentTypeClass.cpython-310.pyc
Backend/modules/dbconnections/__pycache__/__init__.cpython-310.pyc
Backend/modules/dbconnections/__pycache__/mysql.cpython-310.pyc
Backend/modules/extract_raw_text/__pycache__/ExtractPdfText.cpython-310.pyc
Backend/modules/mail_read/__pycache__/__init__.cpython-310.pyc
Backend/modules/mail_read/__pycache__/read_inbox.cpython-310.pyc
Backend/modules/ocrmodules/__pycache__/__init__.cpython-310.pyc
Backend/modules/ocrmodules/__pycache__/CoutumeClass.cpython-310.pyc
Backend/modules/ocrmodules/__pycache__/CremerieClass.cpython-310.pyc
Backend/modules/ocrmodules/__pycache__/LCGClass.cpython-310.pyc
Backend/modules/ocrmodules/__pycache__/Pimeurs_d_issyClass.cpython-310.pyc
Backend/modules/ocrmodules/__pycache__/ReynaudClass.cpython-310.pyc
*.pyc
*.pyc
Frontend/src/components/config,.js
Backend/modules/classify_document/__pycache__/FindDocumentTypeClass.cpython-310.pyc
*.pyc
