# ignore config.ini file
Backend/config.ini

# ignore gmail creds files
Backend/gmail_creds.json
Backend/gmail_token.json

# ignore web config
Backend/web.config

# ignore testing folder files
Backend/Invoices/completed/*.pdf
Backend/Invoices/issue/*.pdf
Backend/User_Upload/Image/*.png
Backend/User_Upload/Pdf/*.pdf

# ignore log file
Backend/app.log

# ignore npm build and node modules
FRONTEND/build/
FRONTEND/node_modules/

# ignore config file for frontend
Frontend/src/components/config,.js

# ignore __pycache__ folder
__pycache__/


Frontend/src/components/config.js
*.pdf
*.txt
*.png
*.csv
